* {
    background-color: #323437;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
}

h2 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}

p {
    color: #aaaaaa;
    font-weight: normal;
}

a:link {
    color: pink;
  }
  
  a:visited {
    color: magenta;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: hotpink;
  } 
